.product-card {
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e0bbe4;
    height: 100vh;
}

.godown-header {
    display: flex;
    align-items: center;
    width: 97%;
}

.colored-bar {
    background-color: #007b7f;
    width: 60%;
    height: 1.5rem;
    border-radius: 30px;
    margin-right: 10px;
}

.godown-name {
    flex: 1;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

.product-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.left {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-image {
    max-width: 100%;
    max-height: calc(100vh - 350px);
    height: auto;
    border-radius: 30px;
    border: 2px solid #007b7f;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #007b7f;
}

.right {
    flex: 1;
    margin-left: 10px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.item-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}

.item-name-header {
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.item-name-remaining {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    margin: 0;
    line-height: 1;
}

.item-price {
    font-weight: 600;
    line-height: 2;
    font-size: 1.2rem;
    margin: 0;
    color: #c62828;
}

.item-stock {
    font-size: 1rem;
    font-weight: 600;
}

.godown-parent {
    color: #555;
}

.attributes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 330px;
}

.attribute-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 1rem;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}

.attribute-name {
    flex: 1;
}

.attribute-value {
    margin-left: 10px;
    text-align: right;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
}

.attribute-item:last-child {
    border-bottom: none;
}
