.tree-node {
  text-align: left;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.node-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #555;
  border-radius: 30px;
  background-color: #e0bbe4;
  transition: background-color 0.3s transform 0.3s box-shadow 0.3s;
}

.node-header:hover {
  background-color: #007b7f;
  border: 0.1px solid #010101;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  color: #222;
}

.icon {
  margin-right: 0.5rem;
  color: #333;
}

.node-name {
  font-weight: bold;
}

.child-nodes .matched-items {
  padding-left: 12px;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s transform 0.3s box-shadow 0.3s;
}

.tree-node .item:hover {
  background-color: #b9fbc0;
  transform: translateY(-2px);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), 
              inset 0 -1px 3px rgba(0, 0, 0, 0.7);
}

.item-icon {
  margin-right: 0.5rem;
  color: #007b7f;
}
