# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tree-app-frontend/node_modules
tree-app-backend/node_modules
tree-app-frontend/.pnp
tree-app-frontend/.pnp.js

# testing
tree-app-frontend/coverage

# production
# tree-app-frontend/build

# misc
tree-app-frontend/.DS_Store
tree-app-frontend/.env.local
tree-app-frontend/.env.development.local
tree-app-frontend/.env.test.local
tree-app-frontend/.env.production.local

tree-app-frontend/npm-debug.log*
tree-app-frontend/yarn-debug.log*
tree-app-frontend/yarn-error.log*
